/* ============= IMPORT ============= */

@import 'variables';

/* ============= SLIDER ============= */

#slider {
    .slider {
        width: 100%;
        position: relative;
        .slide_viewer {
            height: 350px;
            overflow: hidden;
            position: relative;
            .slide_group {
                height: 100%;
                position: relative;
                width: 100%;
                .slide {
                    display: none;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    &:first-child {
                        display: block;
                    }
                    &:nth-of-type(1) {
                        background: #D7A151;
                    }
                    &:nth-of-type(2) {
                        background: #F4E4CD;
                    }
                    &:nth-of-type(3) {
                        background: #C75534;
                    }
                    &:nth-of-type(4) {
                        background: #D1D1D4;
                    }
                }
            }
        }
        .slide_buttons {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            .slide_btn {
                color: #474544;
                font-size: 42px;
                margin: 0 0.175em;
                transition: all 0.4s ease-in-out;
                user-select: none;
                &.active,
                &:hover {
                    color: $yellow;
                    cursor: pointer;
                }
            }
        }
    }
    .directional_nav {
        .previous_btn,
        .next_btn {
            cursor: pointer;
            height: 350px;
            display: flex;
            align-items: center;
            color: $grey-1;
            width: 65px;
        }
        .previous_btn {
            position: absolute;
            top: $header-height;
            bottom: 0;
            left: 0;
        }
        .next_btn {
            position: absolute;
            top: $header-height;
            bottom: 0;
            right: 0;
        }
    }
}


/* ============= PRESENTATION ============= */

#presentation {
    h1 {
        margin-bottom: 15px;
        font-size: 30px;
    }
    p {
        line-height: 20px;
        margin-bottom: 15px;
        @include laptop {
            width: 80%;
        }
    }
    a {
        line-height: 1;
        display: inline-block;
        padding: 15px 20px;
        background: $yellow;
        color: $grey-1;
        border-radius: 30px;
    }
}


/* ============= ACTUALITÉS ============= */

#actus {
    .container {
        h2 {
            margin-bottom: 15px;
        }
        @include laptop {
            // display: grid;
            // grid-auto-columns: minmax(200px, auto);
        }
        .actu_grid {
            width: 100%;
            @include tablet {
                display: grid;
                grid-template-columns: repeat(2, 49%);
                column-gap: calc(100% - (49% * 2));
            }
            @include laptop {
                grid-template-columns: repeat(3, 32%);
                column-gap: calc((100% - (32% * 3)) / 2);
            }
            .actu_content {
                width: 100%;
                margin-bottom: $m-3;
                @include tablet {
                    margin-bottom: $m-4;
                }
                @include laptop {
                    margin-bottom: $m-5;
                    &:nth-of-type(1) {
                        grid-row: 1;
                        grid-column: 1 / 3;
                    }
                    &:nth-of-type(2) {
                        grid-row: 1;
                        grid-column: 3 / 4;
                    }
                    &:nth-of-type(3) {
                        grid-row: 2;
                    }
                    &:nth-of-type(4) {
                        grid-row: 3;
                        margin: 0;
                    }
                }
                img {
                    width: 100%;
                    height: 230px;
                    background: $white-2;
                    overflow: hidden;
                }
                p {
                    margin: 5px 0;
                    font-size: 13px;
                }
                .actu_content h3 {
                    font-size: 19px;
                    font-weight: 500;
                }
            }
            .actu_twitter {
                width: 100%;
                height: 578px;
                background: $grey-1;
                overflow: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
                @include tablet {
                    padding: $p-2 $pl-1;
                    grid-column: 1 / 3;
                }
                @include laptop {
                    grid-column: 2 / 4;
                    grid-row: 2 / 4;
                }
                @include desktop {}
            }
        }
    }
}