/* ============= IMPORT ============= */

@import '_variables';

/* ============= GÉNÉRAL ============= */


/* ============= PROFIL ============= */

#profil {
    .profil_picture {
        height: 330px;
        @include flex-justify-content(center);
        flex-direction: column;
        background: linear-gradient(0deg, $grey-1 0%, $grey-2 100%);
        .img_container {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background: $white-1;
            margin: 0 auto;
            border: 10px solid $grey-3;
        }
        .profil_pseudo {
            text-align: center;
            margin: $mm-1 0;
        }
    }
    .profil_about_user {
        @include tablet {}
        .profil_description {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            @include tablet {
                flex-direction: row;
                justify-content: space-between;
            }
            .description_profil {
                @include tablet {
                    width: 65%;
                }
                p {
                    line-height: 25px;
                    margin-bottom: $m-4;
                    text-align: center;
                    @include tablet {
                        margin-bottom: 0;
                        padding: $p-3;
                        text-align: unset;
                        background: $grey-3;
                    }
                }
            }
            .social_list {
                @include tablet {
                    width: 30%;
                    .social_item:last-child {
                        margin-bottom: 0;
                    }
                }
                .social_item {
                    width: 100%;
                    height: 50px;
                    margin-bottom: $m-2;
                    background: $grey-3;
                    a {
                        @extend %flex;
                        .bx {
                            color: $white-1;
                            @include flex-justify-content(center);
                            width: 50px;
                            height: 50px;
                            background: $grey-1;
                        }
                        span {
                            width: calc(100% - 50px - ($m-2 * 2));
                            height: 30px;
                            line-height: 30px;
                            margin: $p-2;
                            overflow: hidden;
                            color: $white-1;
                        }
                    }
                }
            }
        }
        .btn_send_msg {
            width: 100%;
            @include flex-justify-content(center);
            margin-top: $m-5;
            a {
                line-height: 1;
                padding: 15px 20px;
                background: $yellow;
                color: $grey-1;
                border-radius: 30px;
            }
        }
    }
}