@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@charset "UTF-8";
/* ============= FONTS ============= */
/* ============= IMPORT ============= */
/* ============= PLACEHOLDERS ============= */
.bx {
  display: flex;
  align-items: center;
}

/* ============= MIXINS ============= */
/* ============= VARIABLES ============= */
/* ========== COLORS ========== */
/* ========== Fonts ========== */
/* ========== Font-size ========== */
/* ========== HEIGHT NAVBAR ========== */
/* ========== PADDING ========== */
/* ========== MARGIN ========== */
/* ========== TRANSITION ========== */
/* ============= GÉNÉRAL ============= */
*,
::before,
::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #313138;
  color: rgba(255, 255, 255, 0.8);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
p,
a,
button {
  line-height: 1;
}

.bx {
  font-size: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img_container {
  overflow: hidden;
}
.img_container img {
  width: 100%;
}

/* ============= MAIN ============= */
main {
  padding-top: 80px;
}

/* ============= SECTIONS ============= */
section {
  width: 100%;
}
section .container {
  height: 100%;
  padding: 25px;
}
@media screen and (min-width: 768px) {
  section .container {
    padding: 30px 60px;
  }
}
@media screen and (min-width: 992px) {
  section .container {
    padding: 30px 120px;
  }
}
@media screen and (min-width: 1200px) {
  section .container {
    padding: 30px 200px;
  }
}

/* ============= MAIN ERROR 404 ============= */
#error_404 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#error_404 .error_wrapper {
  text-align: center;
}
#error_404 .error_wrapper h1 {
  font-size: 100px;
}
#error_404 .error_wrapper p {
  font-size: 20px;
  margin: 20px 0;
}
#error_404 .error_wrapper a {
  line-height: 1;
  display: inline-block;
  padding: 15px 20px;
  background: #FFC43D;
  color: #1C1C1D;
  border-radius: 30px;
}

/* ============= HEADER ============= */
#header {
  width: 100%;
  height: 80px;
  background: #1C1C1D;
  position: fixed;
  top: 0;
  z-index: 100;
}
#header .navbar {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* ========== MENU DÉROULANT ========== */
}
@media screen and (min-width: 992px) {
  #header .navbar {
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
#header .navbar .btn_hamburger {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  #header .navbar .btn_hamburger {
    display: none;
  }
}
#header .navbar .btn_hamburger_bar {
  position: relative;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
}
#header .navbar .btn_hamburger_bar::before, #header .navbar .btn_hamburger_bar::after {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
  transform: rotate(0deg);
}
#header .navbar .btn_hamburger_bar::after {
  top: 10px;
}
#header .navbar .active_btn .btn_hamburger_bar {
  transform: rotate(45deg);
}
#header .navbar .active_btn .btn_hamburger_bar::before, #header .navbar .active_btn .btn_hamburger_bar::after {
  transform: rotate(90deg);
  top: 0;
}
#header .navbar .active_btn ~ .nav_list {
  opacity: 1;
  visibility: visible;
}
#header .navbar .logo {
  width: 50px;
}
#header .navbar .nav_list {
  width: 100%;
  height: calc(100vh - 80px);
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background: #1C1C1D;
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list {
    display: flex;
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: unset;
  }
}
#header .navbar .nav_list .nav_item {
  position: relative;
  padding: 20px 40px;
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_item {
    padding: 20px 0;
    margin: 0 15px;
  }
  #header .navbar .nav_list .nav_item:hover .dropdown_list {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 1200px) {
  #header .navbar .nav_list .nav_item {
    margin: 0 25px;
  }
}
#header .navbar .nav_list .nav_item a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_item a {
    justify-content: unset;
    height: 100%;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: unset;
    color: rgba(255, 255, 255, 0.6);
  }
  #header .navbar .nav_list .nav_item a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #header .navbar .nav_list .nav_item a .bx {
    letter-spacing: 0;
  }
}
#header .navbar .nav_list .nav_item .active_link {
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_item .active_link::after {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFC43D;
  }
}
#header .navbar .nav_list .nav_item:nth-of-type(1) .bx {
  font-size: 25px;
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_item:nth-of-type(1) .bx {
    display: none;
  }
}
#header .navbar .nav_list .nav_item .dropdown_list {
  display: none;
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_item .dropdown_list {
    display: block;
    position: absolute;
    top: 80px;
    left: -20px;
    width: auto;
    background: #46464C;
    opacity: 0;
    visibility: hidden;
  }
}
#header .navbar .nav_list .nav_item .dropdown_list .dropdown_link {
  position: relative;
  padding: 20px;
  margin-top: 10px;
  font-size: 20px;
  text-transform: unset;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_item .dropdown_list .dropdown_link {
    font-size: 17px;
    font-weight: 300;
    margin: 0;
  }
}
#header .navbar .nav_list .nav_item .dropdown_list .dropdown_link p {
  width: 190px;
}
#header .navbar .nav_list .nav_item .dropdown_list .dropdown_link .bx {
  padding: 0;
  margin-right: 5px;
}
#header .navbar .nav_list .nav_item .dropdown_list .dropdown_link:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_item:last-child .dropdown_list {
    right: -10px;
    left: unset;
  }
}
#header .navbar .nav_list .nav_item .active_dropdown {
  display: block;
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_item .active_dropdown {
    display: unset;
  }
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_account p {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_account .bx {
    display: block;
    background: #46464C;
    padding: 10px;
    border-radius: 50%;
  }
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_account .nav_account_phone p {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_account .nav_account_phone .bx {
    display: none;
  }
}
#header .navbar .nav_list .nav_account .nav_account_laptop {
  cursor: pointer;
}
#header .navbar .nav_list .nav_account .nav_account_laptop .btn_dropdown {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  right: -5px;
  background: #313138;
  border-radius: 50%;
}
#header .navbar .nav_list .nav_account .nav_account_laptop .btn_dropdown::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 5px solid rgba(255, 255, 255, 0.8);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
#header .navbar .nav_list .nav_account .nav_account_laptop .img_container {
  display: none;
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_account .nav_account_laptop .img_container {
    display: block;
    width: 40px;
    height: 40px;
    border: 4px solid #46464C;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
  }
}
#header .navbar .nav_list .nav_shop {
  display: none;
}
@media screen and (min-width: 992px) {
  #header .navbar .nav_list .nav_shop {
    display: unset;
  }
  #header .navbar .nav_list .nav_shop a {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    background: #FFC43D;
    color: #313138;
  }
  #header .navbar .nav_list .nav_shop a:hover {
    color: #1C1C1D;
  }
  #header .navbar .nav_list .nav_shop p,
#header .navbar .nav_list .nav_shop .bx {
    font-size: 17px;
    line-height: 0;
  }
  #header .navbar .nav_list .nav_shop .bx {
    margin-right: 5px;
  }
}
#header .navbar .shop {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  #header .navbar .shop {
    display: none;
  }
}
#header .navbar .shop .bx {
  font-size: 30px;
  margin-bottom: 2px;
  color: rgba(255, 255, 255, 0.8);
}

/* ============= FOOTER ============= */
#footer {
  text-align: center;
  border-top: 1px solid #313138;
  background: #1C1C1D;
}
#footer .footer_wrapper {
  width: 80%;
  padding: 30px 0;
  margin: 0 auto;
}
#footer .footer_wrapper .footer_row {
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .footer_wrapper .footer_row .img_container {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
#footer .footer_wrapper .footer_row:nth-of-type(2) {
  margin: 25px 0;
}
#footer .footer_wrapper .footer_row .footer_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#footer .footer_wrapper .footer_row .footer_list .footer_item {
  margin: 0 15px;
}
#footer .footer_wrapper .footer_row .footer_list .footer_item .footer_link {
  color: rgba(255, 255, 255, 0.6);
}
#footer .footer_wrapper .footer_row .footer_list .footer_item .footer_link .bx {
  font-size: 25px;
}
#footer .footer_wrapper .footer_row .footer_list .footer_item .footer_link:hover {
  color: rgba(255, 255, 255, 0.8);
}
#footer .copyright {
  width: 80%;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #313138;
}

/* ============= FORM ============= */
input,
textarea {
  border: 0;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: rgba(255, 255, 255, 0.8);
}

input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* ============= BTN ============= */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: #FFC43D;
  color: #1C1C1D;
  cursor: pointer;
}
