@charset "UTF-8";
/* ============= IMPORT =============  */
/* ============= PLACEHOLDERS ============= */
#chat .chat_bar_login .login_msg, #chat .chat_bar_container, #chat .chat_container .msg .msg_container .msg_content, #chat .chat_infos, #list-chat .list_new_conv .item_conv_container .conv_infos .btn_container, #list-chat .list_new_conv .item_conv_container, #list-chat .list_conv .item_conv_container, #list-chat .bar_search_container, .modal_container .modal_bg .modal_settings_chat span a, .modal_container .modal_bg .modal_settings_chat span {
  display: flex;
  align-items: center;
}

/* ============= MIXINS ============= */
/* ============= VARIABLES ============= */
/* ========== COLORS ========== */
/* ========== Fonts ========== */
/* ========== Font-size ========== */
/* ========== HEIGHT NAVBAR ========== */
/* ========== PADDING ========== */
/* ========== MARGIN ========== */
/* ========== TRANSITION ========== */
/* ============= GÉNÉRAL =============  */
::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 0px 1000px #1C1C1D inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.modal_container {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.modal_container .btn_dot {
  color: rgba(255, 255, 255, 0.8);
}
.modal_container .modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  background: rgba(28, 28, 29, 0.7);
}
.modal_container .modal_bg.active_modal {
  visibility: visible;
  opacity: 1;
}
.modal_container .modal_bg .modal_settings_chat {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  transform: translate(-50%, -50%);
  background: #46464C;
}
.modal_container .modal_bg .modal_settings_chat span {
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.modal_container .modal_bg .modal_settings_chat span .bx-x {
  font-size: 28px;
  margin-right: 5px;
}
.modal_container .modal_bg .modal_settings_chat span .bx:not(.bx-x) {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-right: 5px;
}
.modal_container .modal_bg .modal_settings_chat span a {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
}

/* ============= MAIN ============= */
@media screen and (min-width: 992px) {
  main {
    display: flex;
  }
}
/* ============= LIST CHAT ============= */
#list-chat {
  position: relative;
  height: calc(100vh - 80px);
  overflow: hidden;
  background: #1C1C1D;
  /* ============= SEARCH BAR + ADD CONVERSATION ============= */
  /* ============= LIST CONV ============= */
}
@media screen and (min-width: 992px) {
  #list-chat {
    width: 30%;
  }
}
#list-chat .bar {
  width: 100%;
  padding: 5px 15px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 992px) {
  #list-chat .bar {
    border-top: 1px solid #313138;
    padding: 20px 15px 20px 15px;
  }
}
#list-chat .bar_search_container {
  width: calc(100% - 65px);
  height: 50px;
  background: #46464C;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}
#list-chat .bar_search_container .bx {
  padding: 0 10px 0 15px;
  margin-top: 2px;
}
#list-chat .bar_search_container input {
  width: 100%;
  height: 50px;
  padding: 15px 15px 15px 0;
  margin-bottom: 0.5px;
}
#list-chat .bar_add_conversation {
  width: 50px;
  height: 50px;
  background: #46464C;
  border-radius: 30px;
}
#list-chat .list_conv {
  width: 100%;
  height: calc(100% - 70px);
}
@media screen and (min-width: 992px) {
  #list-chat .list_conv {
    height: calc(100% - 91px);
  }
}
#list-chat .list_conv .item_conv {
  width: 100%;
  height: 80px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#list-chat .list_conv .item_conv.actif_conv {
  background: rgba(70, 70, 76, 0.7);
}
#list-chat .list_conv .item_conv:hover:not(.actif_conv) {
  background: rgba(70, 70, 76, 0.3);
}
#list-chat .list_conv .item_conv_container {
  width: calc(100% - 30px);
}
#list-chat .list_conv .item_conv_container .img_container {
  width: 50px;
  height: 50px;
}
#list-chat .list_conv .item_conv_container .conv_infos {
  width: calc(100% - 50px);
  padding-left: 15px;
}
#list-chat .list_conv .item_conv_container .conv_infos .conv_name {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 5px;
}
#list-chat .list_conv .item_conv_container .conv_infos .conv_last_msg {
  font-size: 13px;
  line-height: 20px;
  height: 20px;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
}
#list-chat .list_conv .item_conv .modal_container {
  margin: 0 5px;
}
#list-chat .list_conv .item_conv .modal_container .btn_dot {
  visibility: hidden;
  opacity: 0;
}
@media screen and (min-width: 992px) {
  #list-chat .list_conv .item_conv:hover .btn_dot {
    visibility: visible;
    opacity: 1;
  }
}
#list-chat .list_new_conv {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  background: #1C1C1D;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 992px) {
  #list-chat .list_new_conv {
    top: 91px;
    height: calc(100% - 91px);
  }
}
#list-chat .list_new_conv.active_list_new_conv {
  opacity: 1;
  visibility: visible;
}
#list-chat .list_new_conv .item_conv {
  width: 100%;
  height: 80px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#list-chat .list_new_conv .item_conv:hover {
  background: rgba(70, 70, 76, 0.3);
}
#list-chat .list_new_conv .item_conv_container {
  width: 100%;
}
#list-chat .list_new_conv .item_conv_container .img_container {
  width: 50px;
  height: 50px;
}
#list-chat .list_new_conv .item_conv_container .conv_infos {
  width: calc(100% - 50px);
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#list-chat .list_new_conv .item_conv_container .conv_infos .conv_name {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 5px;
}
#list-chat .list_new_conv .item_conv_container .conv_infos .btn_container {
  padding-left: 15px;
}
#list-chat .list_new_conv .item_conv_container .conv_infos .btn_container .btn {
  padding: 5px;
  background: #313138;
  border-radius: 50%;
}
#list-chat .list_new_conv .item_conv_container .conv_infos .btn_container .btn .bx {
  font-size: 22px;
}
#list-chat .list_new_conv .item_conv_container .conv_infos .btn_container .btn:hover {
  background: #46464C;
}
#list-chat .list_new_conv .item_conv_container .conv_infos .btn_container .btn:nth-of-type(2) {
  margin-left: 10px;
}

/* ============= chat ============= */
#chat {
  position: absolute;
  top: 80px;
  left: -100%;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
  background: #313138;
}
@media screen and (min-width: 992px) {
  #chat {
    position: unset;
    right: 0;
    width: 70%;
  }
}
#chat .chat_infos {
  position: relative;
  padding: 15px;
  background: #1C1C1D;
}
@media screen and (min-width: 992px) {
  #chat .chat_infos {
    display: none;
  }
}
#chat .chat_infos .btn_back .bx {
  color: #FFC43D;
  font-size: 30px;
}
#chat .chat_infos h1 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 2px;
}
#chat .chat_container {
  width: 100%;
  height: calc(100% - 110px);
  padding: 10px;
  overflow: scroll;
}
@media screen and (min-width: 992px) {
  #chat .chat_container {
    height: calc(100% - 60px);
    padding: 20px;
  }
}
#chat .chat_container .msg {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
}
#chat .chat_container .msg .img_container {
  width: 25px;
  position: relative;
}
#chat .chat_container .msg .img_container img {
  border-radius: 50%;
}
#chat .chat_container .msg .msg_container {
  width: 100%;
}
#chat .chat_container .msg .msg_container:hover .modal_container .btn_dot {
  visibility: visible;
  opacity: 1;
}
#chat .chat_container .msg .msg_container .modal_container .btn_dot {
  visibility: hidden;
  opacity: 0;
}
#chat .chat_container .msg .msg_container .msg_pseudo {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 200;
  font-size: 12px;
  opacity: 0.6;
}
#chat .chat_container .msg .msg_container .msg_content p {
  display: inline-block;
  max-width: 80%;
  padding: 15px 15px 15px 15px;
  background: rgba(28, 28, 29, 0.7);
  line-height: 1;
}
#chat .chat_container .msg_left .msg_img_profil {
  margin-right: 8px;
}
#chat .chat_container .msg_left .msg_content p {
  border-radius: 2px 20px 20px 20px;
}
#chat .chat_container .msg_left .msg_content .btn_dot {
  margin-left: 15px;
}
#chat .chat_container .msg_right {
  flex-direction: row-reverse;
}
#chat .chat_container .msg_right .msg_img_profil {
  margin-left: 8px;
}
#chat .chat_container .msg_right .msg_container {
  text-align: right;
}
#chat .chat_container .msg_right .msg_container .msg_content {
  flex-direction: row-reverse;
}
#chat .chat_container .msg_right .msg_container .msg_content p {
  text-align: left;
  border-radius: 20px 2px 20px 20px;
}
#chat .chat_container .msg_right .msg_container .msg_content .btn_dot {
  margin-right: 15px;
}
#chat .chat_bar {
  position: relative;
  width: 100%;
  height: 50px;
  background: #313138;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  #chat .chat_bar {
    height: 60px;
  }
}
#chat .chat_bar_container input {
  width: 100%;
  height: 40px;
  padding: 0 50px 1px 20px;
  margin: 0 5px 5px 5px;
  border-radius: 30px;
  background: #46464C;
}
#chat .chat_bar_container input::-moz-placeholder {
  opacity: 0.5;
}
#chat .chat_bar_container input:-ms-input-placeholder {
  opacity: 0.5;
}
#chat .chat_bar_container input::placeholder {
  opacity: 0.5;
}
@media screen and (min-width: 992px) {
  #chat .chat_bar_container input {
    height: 50px;
    padding: 0 50px 1px 25px;
    margin: 0 10px 10px 10px;
  }
}
#chat .chat_bar_container button {
  position: absolute;
  top: 3px;
  right: 0;
  margin: 0 5px 5px 5px;
  padding: 10px;
  border-radius: 50%;
  background: #FFC43D;
  color: #1C1C1D;
}
@media screen and (min-width: 992px) {
  #chat .chat_bar_container button {
    top: 0;
    right: 0;
    margin: 0 10px 10px 10px;
    padding: 15px;
  }
}
#chat .chat_bar_login {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#chat .chat_bar_login .login_msg p {
  margin-left: 10px;
}
#chat .chat_bar_login .login_msg a button {
  padding: 20px;
  font-size: 14px;
}
