@charset "UTF-8";
/* ============= PLACEHOLDERS ============= */
/* ============= MIXINS ============= */
/* ============= VARIABLES ============= */
/* ========== COLORS ========== */
/* ========== Fonts ========== */
/* ========== Font-size ========== */
/* ========== HEIGHT NAVBAR ========== */
/* ========== PADDING ========== */
/* ========== MARGIN ========== */
/* ========== TRANSITION ========== */
/* ============= GÉNÉRAL ============= */
main {
  width: 100%;
  min-height: 100vh;
  padding-top: 0 !important;
}

/* ============= FORM ============= */
#forget-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 30px;
  background: #1C1C1D;
}

input {
  margin: 30px 0;
}

/* ============= RESPONSIVE ============= */
@media screen and (min-width: 576px) {
  #forget-form {
    padding: 80px;
  }
}
@media screen and (min-width: 768px) {
  #forget-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: auto;
    padding: 80px 65px;
  }
}
@media screen and (min-width: 992px) {
  #forget-form {
    width: 40%;
    max-width: 450px;
  }
}
